html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #343838;
}

myImage {
}

.myImage:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.how-section1 {
    margin-top: -15%;
    padding: 10%;
}

    .how-section1 h4 {
        color: mintcream;
        font-weight: bold;
        font-size: 30px;
    }

    .how-section1 .row {
        margin-top: 10%;
    }

.how-img {
    text-align: center;
}

    .how-img img {
        width: 60%;
    }
.playerFullInfo {
    margin-top: -9%;
    margin-left: -15%;
    padding-top: 10px ;
}

.playerFullInfo h4 {
    color: mintcream;
    font-weight: bold;
    font-size: 30px;
}

    .playerFullInfo h5 {
        color: mintcream;
        font-weight: bold;
        font-size: 20px;
    }

    .playerFullInfo .row {
        margin-top: 10%;
    }

.playerFullInfo-img {
    text-align: center;
}

    .playerFullInfo-img img {
        width: 70%;
        background-color: floralwhite;
    }
.winnerTeam {
    color: lawngreen;
}
.loserTeam {
    color: red;
}