<div class="text-center mt-5">
    <h1 class="display-4" style="color: white;">Welcome to the manager area!</h1>
    <p style="font-size: 23px; color: white;margin-top: 30px;">From here you can schedule, reschedule and delete matches as well as updating their score.</p>
</div>