@model List<ArenaDetailsViewModel>

<div class="text-center row m-4">
    @foreach (var arena in Model)
    {
        <div class="card col-4 m-2" style="width: 18rem;">
            <img class="card-img-top" style="width: 16rem"
             src="@arena.PictureURL" alt="Arena image">
            <div class="card-body">
                <h5 class="card-title mt-1">@arena.Name</h5>
                <p class="mb-0">Location: @arena.Location</p>
                <p class="mb-0">Seats: @arena.Seats</p>
            </div>
        </div>
    }
</div>