@model ArenaDetailsViewModel

<div class="how-section1">
	<div class="playerFullInfo center" style="margin-top: 1rem;">
		<div class="row">
			<div class="col-md-6 playerFullInfo-img">
				<h4>@Model.Name</h4>
				<img src="@Model.PictureURL" class="border border-light rounded img-fluid" />
				<h3><a class="link-light" asp-controller="Arena" asp-action="AllArenas">View all arenas</a></h3>
			</div>
			<div class="col-md-6 mt-5">
				<p class="fw-bold"  style="font-size: 1.5rem; color: white;">Location: @Model.Location</p>
				<p class="fw-bold" style="font-size: 1.5rem; color: white;">Seats: @Model.Seats</p>
			</div>
		</div>
	</div>
</div>
