@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4" style="color: white;">Welcome to my Basketball App!</h1>
    <p style="font-size: 23px; color: white;margin-top: 30px;">In this application you can view all matches, buy tickets for them or just view information about your favorite teams!
    </p>
</div>
